Primeiro, baixe as bibliotecas do python em um ambiente virtual: pandas e numpy:


python -m venv .venv

cd .venv\Scripts\activate

pip install pandas

pip install numpy

In [ ]:
import pandas as pd
import numpy as np
import random

from datetime import datetime, timedelta

pd.set_option("display.max_columns", None)
random.seed(42)
np.random.seed(42)

In [ ]:
# Generate products_raw.json

N_PRODUCTS = 10_000

categories = ["Rolamentos", "Mancais", "Componentes Mecânicos"]
bearing_types = ["Esférico", "Cilíndrico", "Autocompensador", "Agujas", "Contato Angular"]
materials = ["Aço", "Aço Inoxidável", "Cerâmica"]
problem_types = ["Vibração", "Superaquecimento", "Desgaste", "Contaminação"]

products = []

for i in range(N_PRODUCTS):
    products.append({
        "product_id": f"P{i+1:05d}",
        "product_name": f"Rolamento Industrial {i+1}",
        "product_category": random.choice(categories),
        "product_subcategory": random.choice(bearing_types),
        "manufacturer": random.choice(["SKF", "NSK", "FAG", "Timken", "NTN"]),
        "model": f"MD-{random.randint(100,999)}",
        "bearing_type": random.choice(bearing_types),
        "material": random.choice(materials),
        "load_capacity": round(random.uniform(500, 50000), 2),
        "max_speed": random.randint(1000, 15000),
        "temperature_limit": random.randint(80, 250),
        "problem_type": random.choice(problem_types),
        "unit_cost": round(random.uniform(50, 500), 2),
        "list_price": round(random.uniform(200, 3000), 2)
    })


products_df = pd.DataFrame(products)
products_df.to_json("../data/raw/products_raw.json", orient="records", indent=2)

products_df.head()

,product_id,product_name,product_category,product_subcategory,manufacturer,model,bearing_type,material,load_capacity,max_speed,temperature_limit,problem_type,unit_cost,list_price
0,P00001,Rolamento Industrial 1,Componentes Mecânicos,Esférico,SKF,MD-859,Autocompensador,Aço,11548.93,13066,106,Vibração,315.72,288.99
1,P00002,Rolamento Industrial 2,Rolamentos,Cilíndrico,NSK,MD-617,Contato Angular,Aço,28281.63,12731,246,Contaminação,149.20,1849.94
2,P00003,Rolamento Industrial 3,Rolamentos,Cilíndrico,Timken,MD-448,Autocompensador,Aço,11158.03,13509,166,Vibração,91.74,470.81
3,P00004,Rolamento Industrial 4,Mancais,Contato Angular,FAG,MD-926,Esférico,Cerâmica,23241.53,3045,176,Vibração,298.42,2522.33
4,P00005,Rolamento Industrial 5,Componentes Mecânicos,Autocompensador,NTN,MD-296,Esférico,Aço,33232.53,13665,154,Vibração,434.89,2626.15

In [ ]:
# Generate customers_raw.csv

N_CUSTOMERS = 5_000

industries = [
    "Mineração", "Siderurgia", "Alimentos", "Automotiva",
    "Papel e Celulose", "Química", "Cimento", "Energia"
]

customers = []

for i in range(N_CUSTOMERS):
    customers.append({
        "customer_id": f"C{i+1:05d}",
        "company_name": f"Empresa Industrial {i+1}",
        "industry": random.choice(industries),
        "company_size": random.choice(["Pequena", "Média", "Grande"]),
        "maintenance_model": random.choice(["Interna", "Terceirizada", "Mista"]),
        "equipment_criticality": random.choice(["Baixa", "Média", "Alta"]),
        "annual_revenue_estimated": round(random.uniform(5e6, 5e9), 2),
        "maintenance_budget_annual": round(random.uniform(50_000, 5_000_000), 2),
        "downtime_cost_per_hour": round(random.uniform(1_000, 50_000), 2),
        "preferred_supplier": random.choice([True, False]),
        "relationship_start_date": (
            datetime(2000,1,1) + timedelta(days=random.randint(0,9000))
        ).date(),
        "active": random.choice([True, True, True, False]),
        "last_updated": datetime.now()
    })

customers_df = pd.DataFrame(customers)
customers_df.to_csv("../data/raw/customers_raw.csv", index=False)

customers_df.head()

,customer_id,company_name,industry,company_size,maintenance_model,equipment_criticality,annual_revenue_estimated,maintenance_budget_annual,downtime_cost_per_hour,preferred_supplier,relationship_start_date,active,last_updated
0,C00001,Empresa Industrial 1,Química,Grande,Terceirizada,Baixa,1.474241e+09,2824887.23,3170.40,False,2016-10-22,True,2025-12-30 15:21:07.217558
1,C00002,Empresa Industrial 2,Automotiva,Grande,Mista,Média,3.453635e+09,2913305.71,41838.33,True,2022-03-26,True,2025-12-30 15:21:07.217586
2,C00003,Empresa Industrial 3,Alimentos,Pequena,Mista,Alta,4.505871e+09,154697.84,12088.05,True,2022-10-12,True,2025-12-30 15:21:07.217598
3,C00004,Empresa Industrial 4,Automotiva,Pequena,Mista,Alta,1.170286e+09,663312.06,10768.29,False,2001-10-06,True,2025-12-30 15:21:07.217608
4,C00005,Empresa Industrial 5,Automotiva,Pequena,Interna,Média,3.405395e+09,1099120.20,39752.67,True,2013-04-30,True,2025-12-30 15:21:07.217618

In [ ]:
# Generate sales_raw.csv

N_SALES = 120_000
START_DATE = datetime(2023, 1, 1)
END_DATE = datetime(2025, 12, 31)

def random_date(start, end):
    return start + timedelta(days=random.randint(0, (end - start).days))

sales = []

for i in range(N_SALES):
    product = products_df.sample(1).iloc[0]
    customer = customers_df.sample(1).iloc[0]

    quantity = random.randint(1, 40)
    unit_price = round(product["list_price"] * random.uniform(0.9, 1.05), 2)

    sales.append({
        "sale_id": f"S{i+1:07d}",
        "sale_date": random_date(START_DATE, END_DATE).date(),
        "customer_id": customer["customer_id"],
        "product_id": product["product_id"],
        "quantity": quantity,
        "unit_price": unit_price,
        "total_price": round(quantity * unit_price, 2),
        "discount_percentage": random.choice([0, 5, 10, 15]),
        "sales_channel": random.choice(["Direct", "Distributor", "Representative"]),
        "contract_type": random.choice(["Spot", "Recurring", "SLA"]),
        "payment_terms": random.choice(["30 days", "60 days", "90 days"]),
        "delivery_lead_time_days": random.randint(3, 25),
        "sale_status": random.choice(["Completed", "Completed", "Completed", "Cancelled"]),
        "last_updated": datetime.now()
    })

sales_df = pd.DataFrame(sales)
sales_df.to_csv("../data/raw/sales_raw.csv", index=False)

sales_df.head()

,sale_id,sale_date,customer_id,product_id,quantity,unit_price,total_price,discount_percentage,sales_channel,contract_type,payment_terms,delivery_lead_time_days,sale_status,last_updated
0,S0000001,2023-11-02,C00100,P06253,9,455.17,4096.53,15,Distributor,Spot,60 days,25,Completed,2025-12-30 15:21:11.003173
1,S0000002,2025-05-01,C00983,P06975,5,1192.17,5960.85,0,Representative,SLA,90 days,16,Completed,2025-12-30 15:21:11.005953
2,S0000003,2023-11-12,C03975,P02021,26,553.04,14379.04,5,Distributor,Spot,30 days,17,Cancelled,2025-12-30 15:21:11.008037
3,S0000004,2025-05-09,C04737,P02529,5,2780.14,13900.70,10,Distributor,Recurring,90 days,20,Cancelled,2025-12-30 15:21:11.010571
4,S0000005,2023-05-20,C01652,P05798,20,1397.75,27955.00,15,Distributor,Recurring,30 days,7,Completed,2025-12-30 15:21:11.013045

In [ ]:
# Validate referential integrity

print("Produtos:", products_df.shape)
print("Clientes:", customers_df.shape)
print("Vendas:", sales_df.shape)

assert sales_df["product_id"].isin(products_df["product_id"]).all()
assert sales_df["customer_id"].isin(customers_df["customer_id"]).all()

print("✔ Integridade referencial validada")

In [ ]:
# Structure

# data/
#  └── raw/
#      ├── products_raw.json   ✔ 10.000
#      ├── customers_raw.csv   ✔ 5.000
#      └── sales_raw.csv       ✔ 120.000